$backgroundcolor: #eeee;
$brown-color: #9c2043;
$blue-color: #05aae6;
$text-white: #fff;
$secondary-brown1: #ec1652;
$secondary-brown2: #530219;
$secondary-blue: #07a1da;
$secondary-blue1: #02435a;
$secondary-yellow: #07c073e8;
$secondary-yellow1: #0ea894;
$blackish: #777;