/*--- -------------------------Project rotate boxes style ---------------------*/

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 60rem;
}

.card__side {
    background-color: $text-white;
    height: 40rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(29, 29, 29, 0.20);
}

.card__side--front {
    background-color: $text-white;
}

.card__side--back {
    transform: rotateY(180deg);
}

.card__side--back-1 {
    background-image: linear-gradient(to right bottom, $secondary-blue, $secondary-blue1);
}

.card__side--back-2 {
    background-image: linear-gradient(to right bottom, $secondary-yellow, $secondary-yellow1);
}

.card__side--back-3 {
    background-image: linear-gradient(to right bottom, $secondary-brown1, $secondary-brown2);
}

.card:hover .card__side--front {
    transform: rotateY(-180deg);
}

.card:hover .card__side--back {
    transform: rotateY(0);
}


/* -------------------------End of Project rotate boxes style ---------------------*/


/* ------------------Beginning of front card style ------------------------- */

.card__picture {
    height: 20rem;
    background-blend-mode: screen;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.card__picture--1 {
    background-image: linear-gradient(to right bottom, $secondary-blue, $secondary-blue1), url(../img/edu-1.jpg);
}

.card__picture--2 {
    background-image: linear-gradient(to right bottom, $secondary-yellow, $secondary-yellow1), url(../img/slider-4.jpg);
}

.card__picture--3 {
    background-image: linear-gradient(to right bottom, $secondary-brown1, $secondary-brown2), url(../img/RnP-1.jpg);
}


/* ------------------End of front card style ------------------------- */


/* --------------------------beginning of Text styling of card elements -------------- */

.card__heading {
    font-size: 2.5rem;
    font-weight: 200;
    text-transform: uppercase;
    text-align: right;
    color: $text-white;
    position: absolute;
    top: 7rem;
    right: 1.5rem;
    width: 50%;
}

.card__heading-span {
    padding: 0.5rem 0;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

.card__heading-span--1 {
    background-image: linear-gradient(to right bottom, $secondary-blue, $secondary-blue1);
}

.card__heading-span--2 {
    background-image: linear-gradient(to right bottom, $secondary-yellow, $secondary-yellow1);
}

.card__heading-span--3 {
    background-image: linear-gradient(to right bottom, $secondary-brown1, $secondary-brown2);
}

.card__details {
    margin-top: 1.5rem;
}

.card__details p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 200;
    text-align: center;
    padding: 1.3rem;
}


/* --------------------------End of Text styling of card elements -------------- */


/* -------------------------------Beginning of back styling ------------------------- */

.card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
}

.card__back-text {
    font-size: 1.6rem;
    font-weight: 400;
    color: $text-white;
    margin-bottom: 2rem;
}

.project-btn:link,
:visited {
    padding: 0.8rem 1.5rem;
    background-color: $text-white;
    display: inline-block;
    border: none;
    border-radius: 3rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    color: $blackish;
    cursor: pointer;
    /* text-transform: uppercase; */
    transition: all 0.3s ease 0;
}

.project-btn:hover {
    background-color: $blue-color;
    color: $text-white;
    box-shadow: 0 1rem 2rem rgba(54, 54, 54, 0.678);
    transform: translateY(-2px);
}

.project-btn:active {
    box-shadow: 0 .5rem 1rem rgba(48, 47, 47, 0.678);
    transform: translateY(0);
}


/* -------------------------------Beginning of back styling ------------------------- */


/* ===============================The End of Projects section ===================*/