/***********ABOUT IMAGES STYLE ****************/

.composition img {
    width: 60%;
}

.composition {
    position: relative;
}

.composition__photo {
    box-shadow: 0 1.5rem 4rem rgba(17, 17, 17, 0.3);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 1rem;
}

.composition__photo--p1 {
    left: 0;
    top: -2rem;
}

.composition__photo--p2 {
    right: -5rem;
    top: 2rem;
}

.composition__photo--p3 {
    left: 10%;
    top: 5rem;
}

.composition__photo:hover {
    outline: 1rem solid $blue-color;
    transform: scale(1.05) translateY(-.5rem);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
}

.composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9);
}


/***********ABOUT IMAGES STYLE ****************/