/*-------------------------***Beginning Services Section*-------------------------------*/

.services-section>* {
    transform: skewY(7deg);
}

.row {
    max-width: 114rem;
    height: 35vh;
    padding: 0 auto;
    margin-top: -8rem;
}

.row:not(:last-child) {
    margin-right: 3.5rem;
}

.row ::after {
    content: "";
    display: table;
    clear: both;
}

.col-1-of-3 {
    width: calc((100% - 2 * 10rem) / 3);
    float: left;
}

.col-1-of-3 {
    margin-left: 4.5rem;
}