@keyframes animate {
    0% {
        background-image: url(../img/slider-1.jpg);
    }
    25% {
        background-image: url(../img/slider-6.jpg);
    }
    50% {
        background-image: url(../img/slider-2.jpg);
    }
    75% {
        background-image: url(../img/slider-5.jpg);
    }
    100% {
        background-image: url(../img/slider-1.jpg);
    }
}